{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
ADMIN
{% endblock %}

{% block content %}
<article>
    <h3> CHOOSE ONE OF THE FOLLOWING ACTIONS BELOW </h3>

    <ul>
        <li><a href="{{ url_for('add_asset')}}">ADD AN ASSET RECORD</a></li>   
        <li><a href="{{ url_for('assign_asset')}}">ASSIGN AN ASSET TO A USER</a></li>
        <li><a href="{{ url_for('unassign_asset')}}">UNASSIGN AN ASSET FROM A USER</a></li>
        <li><a href="{{ url_for('add_user')}}">ADD A USER</a></li>
        <li><a href="{{ url_for('list_assigned') }}">VIEW A LIST OF ASSIGNED ASSETS</a></li>
        <li><a href="{{ url_for('list_unassigned') }}">VIEW A LIST OF AVAILABLE ASSETS</a></li>
        <li><a href="{{ url_for('list_cases') }}">VIEW A LIST OF CASES</a></li>

        

    </ul>
</article>

{% endblock %}
{% block sidebar %}
{% endblock %}