{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
ASSIGN ASSET
{% endblock %}


{% block content %}
    <article>
        <h2>ASSIGN AN ASSET</h>
        <h3>FILL IN THE NAME OF ASSET TO BE ASSIGNED AND THE USER TO BE ASSIGNED TO BELOW</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.asset_name, size=50) }}
                {{ render_field(form.user_assigned, size=50) }}
                {{ render_field(form.reclaim_date, size=50) }}
                {{ render_field(form.assign, size=50) }}             
            </table>
        </form>
        <a href="{{ url_for('admin') }}">BACK</a>
    </article>
{% endblock %}
{% block sidebar %}
{% endblock %}