{% extends "base.html" %}

{% block title %}
WELCOME
{% endblock %}

{% block content %}
<article>
    <h2> WELCOME TO INVENTORY @ ANDELA </h2>
    <h2> PLEASE SIGN IN TO GO TO YOUR PAGE</h2>
    <ul>
        <li><a href="{{ url_for('admins_login')}}">SIGN IN AS SUPER ADMIN</a></li>   
        <li><a href="{{ url_for('admins_login')}}">SIGN IN AS ADMIN</a></li>
        <li><a href="{{ url_for('user_login')}}">SIGN IN AS USER</a></li>

    </ul>
</article>

{% endblock %}
{% block sidebar %}
{% endblock %}