{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
LIST-ASSIGNED
{% endblock %}

{% block content %}
<section>
            <h2>LIST OF ASSIGNED ASSETS AND THE ASIGNEES</h2>
            {% if lst %}
                <ol>
                    {% for l in lst %}
                        <li> {{ l[0] }} was assigned to {{ l[1] }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                THERE ARE CURRENTLY NO ASSIGNED ASSETS
            {% endif %}
        </section>

{% endblock %}
{% block sidebar %}
{% endblock %}