{% extends "base.html" %}
{% from "form_macros_two.html" import render_field %}

{% block title %}
LIST-CASES
{% endblock %}

{% block content %}
<article>
            <h2>LIST OF CASES </h2>
            {% if lst %}
                <ol>
                    {% for l in lst %}
                        <li> <strong>ASSET NAME:</strong> {{ l[0] }}<br> 
                            <strong>CASE TYPE:</strong> {{ l[1] }}<br>
                            <strong>REPORTED BY:</strong> {{ l[2] }}<br>
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                ==============<br>
                                {{ render_field(form.resolve, size=30) }}    
                            </form>

                        </li>
                            =============================================
                    {% endfor %}
                </ol>
            {% else %}
                THERE ARE CURRENTLY NO CASES<br>
            {% endif %}
            <a href="{{ url_for('admin') }}">BACK</a>
        </article>

{% endblock %}

{% block sidebar %}
{% endblock %}