{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
LIST-UNASSIGNED
{% endblock %}

{% block content %}
<section>
            <h2>LIST OF AVAILABLE ASSETS </h2>
            {% if lst %}
                <ol>
                    {% for l in lst %}
                        <li> <strong>ASSET NAME:</strong> {{ l[0] }}<br> <strong>DESCRIPTION:</strong> {{ l[1] }}</li>
                        =================================================
                    {% endfor %}
                </ol>
            {% else %}
                THERE ARE CURRENTLY NO AVAILABLE ASSETS
            {% endif %}
        </section>
<a href="{{ url_for('admin') }}">BACK</a>
{% endblock %}

{% block sidebar %}
{% endblock %}