{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
UN-ASSIGN ASSET
{% endblock %}


{% block content %}
    <article>
        <h2>UN-ASSIGN AN ASSET</h>
        <h3>FILL IN  THE NAME OF THE ASSET TO BE UN ASSIGNED BELOW</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.asset_name, size=50) }}
                {{ render_field(form.unassign, size=50) }}             
            </table>
        </form>
    </article>
{% endblock %}
{% block sidebar %}
{% endblock %}