{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
REPORT CASE
{% endblock %}

{% block content %}
<article>
        <h2>REPORT A CASE</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.asset_name, size=30) }}
                {{ render_field(form.serial_num, size=30) }}
                {{ render_field(form.report_lost, size=50) }}
                {{ render_field(form.report_found, size=50) }}
             
            </table>
        </form>
    </article>

{% endblock %}
{% block sidebar %}
{% endblock %}